@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.big-shoulders-display {
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/* css reset */
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  font-size: 0.9375rem; /*15px */
  line-height: 1.4;
}

/* common classes */
.flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.page-wrapper {
  min-height: 100vh;
  padding: 3rem 1.5rem;
}

.cards-wrapper {
  list-style: none;
  margin-bottom: 1rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.each-card {
  max-width: 20rem;
  padding: 3rem;
  line-height: 1.7;
}

.card-sedan {
  background-color: hsl(31, 77%, 52%);
  border-radius: 0.3rem 0.3rem 0 0;
}

.card-suv {
  background-color: hsl(184, 100%, 22%);
}

.card-luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius:  0 0 0.3rem 0.3rem;
}

.card-heading {
  color: hsl(0, 0%, 95%);
  font-size: 2.5rem;
  margin: 1rem 0;
}

.card-description {
  margin: 0 0 2rem 0;
}

.btn {
  text-decoration: none;
  background-color: white;
  padding: 0.8rem 2rem;
  border-radius: 5rem;
  margin-left: 0.1rem;
  border: none;
}

.btn:hover {
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
}


/* if the link is currently clicked */
/* .btn:active {
  color: aliceblue;
} */

.btn-sedan{
  color: hsl(31, 77%, 52%);
}

.btn-suv{
  color: hsl(184, 100%, 22%);
}

.btn-luxury{
  color: hsl(179, 100%, 13%);
}

/* if the link has been visited */
/* .btn:visited {
  color: red;
} */

.attribution { 
  font-size: 11px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}

@media(min-width: 806px) {
  .cards-wrapper {
    display: flex;
  }

  .each-card {
    max-width: 18rem;
    padding: 2.5rem;
    line-height: 1.7;
  }

  .card-description {
    margin: 0 0 5rem 0;
  }

  .card-sedan {
    border-radius: 0.3rem 0 0 0.3rem;
  }

  .card-luxury {
    border-radius: 0 0.3rem 0.3rem 0;
  }

  .btn {
    
  }
}